backend/alaska_descargas/
backend/mintpy_results/

# Python
__pycache__/
*.py[cod]
*.pyo

# Variables de entorno
.env
.env.local
.env.*.local

# El archivo de ejemplo SÍ se puede subir
!.env.example
.venv

*.png
*.csv

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
