# Credenciales ASF (Alaska Satellite Facility)
ASF_USERNAME=
ASF_PASSWORD=

# Credenciales HyP3
HYP3_USERNAME=
HYP3_PASSWORD=
HYP3_PLUS_ENABLED=1
HYP3_PLUS_URL=https://hyp3-plus.asf.alaska.edu

# Credenciales ERA5
ERA5_URL="https://cds.climate.copernicus.eu/api"
ERA5_KEY=

