# Credenciales ASF (Alaska Satellite Facility)
# Obtener cuenta en: https://urs.earthdata.nasa.gov/
ASF_USERNAME=tu_usuario_aqui
ASF_PASSWORD=tu_contraseña_aqui

# Credenciales HyP3
HYP3_USERNAME=tu_usuario_aqui
HYP3_PASSWORD=tu_contraseña_aqui
HYP3_PLUS_ENABLED=1
HYP3_PLUS_URL=https://hyp3-plus.asf.alaska.edu

