# --- Core API ---
fastapi==0.115
uvicorn[standard]==0.30
pydantic==2.7

# --- Utilidades ---
python-dotenv==1.0
python-dateutil==2.9
requests==2.32

# --- ASF / HyP3 ---
asf-search==7,<8
hyp3-sdk==3,<4

rasterio
numpy
matplotlib
